body {
    font-family: Roboto, sans-serif;
}

table.legend_table {
    font-size: 11px;
    border-width:1px;
    border-color:#d3d3d3;
    border-style:solid;
}
table.legend_table,td {
    border-width:1px;
    border-color:#d3d3d3;
    border-style:solid;
    padding: 2px;
}
div.table_content {
    width:80px;
    text-align:center;
}
div.table_description {
    width:100px;
}
.page-section {
    padding: 10px;
}
#operation {
    font-size:28px;
}
#node-popUp {
    display:none;
    position:absolute;
    top:350px;
    left:170px;
    z-index:299;
    width:250px;
    height:120px;
    background-color: #f9f9f9;
    border-style:solid;
    border-width:3px;
    border-color: #5394ed;
    padding:10px;
    text-align: center;
}
#edge-popUp {
    display:none;
    position:absolute;
    top:350px;
    left:170px;
    z-index:299;
    width:250px;
    background-color: #f9f9f9;
    border-style:solid;
    border-width:3px;
    border-color: #5394ed;
    padding:10px;
    text-align: center;
}
.input-wrapper {
    display: inline-block;
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file], #export-file {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.space-left {
    margin: 0 0 0 10px;
}

.fileContainer {
    background: #eeeeee;
    border-radius: .5em;
    float: left;
    padding: .5em;
}

.fileContainer [type=file] {
    cursor: pointer;
}

#network {
    width: 100%;
    height: 600px;
}
#mynetwork {
    position:relative;
    width: 800px;
    height: 600px;
    border: 1px solid lightgray;
}
.overlay {
    position: absolute;
    pointer-events: none;
    font-family: sans-serif;
    color: #000000;
    background-color: #eeeeee;
}

.overlay img {
    width: 100px
}

table {
    width: 120px;
    height: 80px;
}
table tr td {
    width: 120px;
    text-align: center;
}
.tr-header {
    background: darkblue;
    color: #FFFFFF;
    width: 120px
}
.title{
    color: #f7f7f7;
    text-align: center;
    background: #0055aa;
}
.description{
    color: #f7f7f7;
}
.label-icon{
    float: left;

}

